body {
  background: #e0e0e0;
  margin-top: 100px;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bookman old style';
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#leadParagraph {
  font-size: 1.2em;
}

.navbar-dark {  
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand {
  font-size: 2.0em;
  font-weight: bold;
  font-family: poppins;
}
.nav-item a {
  letter-spacing: 1px;
  font-size: 1.0rem;
}

#showCase {
  height: 100vh;
}

#showCase h1 {
  font-style: 50px;  
}

#showCase .showCase-left {
  margin-top: 90px;
  margin-left: -90px;
  width: 650px;
  box-shadow: rgb(126, 199, 233) -8px 5px 10px;
}

#showCase .showCase-right {
  margin-top: 160px;
  margin-left: 40px;
}

#showCase-services .showCase-services1,
#showCase-services .showCase-services2 {
  margin-top: 0px;
  margin-left: 0px;
}

#showCase-services img {
  height: 340px;  
}

#services {
  background: teal;
  color: #fff;
  padding: 30px 0 30px 0;
  text-align: center;
  margin-top: 20px;
}

#services p {
  font-size: 20px;  
}

#bankImage {
  border-radius: 5px;
  width: 100%;
}

#testimonial {
  background: teal;
  color: #fff;
  padding: 30px 0 30px 0;
  text-align: center;
  margin-top: 60px;
}

#testimonial p {
  font-size: 1.4em;
  font-family: 'Josefin Sans';
}

#testimonial p.customer {
  font-size: 18px;
}

.info-left img {
  width: 100%;
  margin-top: 70px;
  border-radius: 7px;
}

#info1 .info-right {
  margin-top: 90px; 
  margin-left: 80px;
}

#info2 {
  margin: 20px 0 60px 0;
}

#contact {
  background: url(../img/banking2.jpg);  
  padding: 40px;
  color: #fff;
  border-top: #555 7px solid;
  border-bottom: #555 7px solid; 
}

footer {
  font-size: 1.0em;
}

footer p{
  margin: 0px;
}

#main-footer {
  background: #232A34;
  color: #eee; 
}

#main-footer div.col-md-2 {
  margin-top: 40px;
  margin-right: -30px;
  line-height: 30px;
}

#main-footer .col-md-2 h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-style: 14px;
}

#main-footer .col-md-4 {
  margin-top: 60px;
  font-family: "open sans";
  font-weight: 700;
  font-style: 14px;
  line-height: 30px;
}

#main-footer .col-md-4 a:hover{
  color: yellow;
  text-decoration: none;
}

#main-footer .col-md-4 p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 24px;
}

#main-footer ul{
  list-style-type: none;  
  margin-left: -38px;
}

#main-footer ul li{
  font-size: 14px;  
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-underline-from-center:before{
  background: yellowgreen;
}

.hvr-bounce-to-top:before{
  background: crimson;
}
